@import url('https://fonts.googleapis.com/css2?family=Julee&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,*:after,*:before{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
:root{
	--gray-clr:#333333;

}
.container{
	width:95%;
	margin-inline:auto ;
	max-width:1200px;
	margin-inline:auto;
	padding: 0;
}
.containerLg{
	width: 100%;
	margin-inline:auto;
	max-width:1375px;
	margin-inline:auto;
}
header{
	width:100%;
	height:4.5em;
	padding:.5em;
	background: rgba(24, 24, 24, 0.5);
	position: sticky!important;
	top:0px;
	
}
.header-wrapper{
	display:flex;
	justify-content: space-between;
}
.logo-area{
	width:110px;
	height:60px;
	align-items:center;
	display:flex;
}
.logo-area a{
	margin-top: 5px;
}
.logo-area a img{
	max-width: 100%;
}
.button-wrapper{
	display:flex;
	align-items: center;
}
.butn{
	background:red;
	color:white;
	border:none;
	padding:.4em 1.5em;
	font-size: 1.175em;
	font-weight: 500;
	border-radius: 10px;
	cursor:pointer;
	transition: 0.2s;
	margin-left: 1em;
}
.butn:hover{
	background:white;
	color:red;
}
.hero-section{
	background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6)),url(./img/background.jpg) ;
	background-size: cover;
	background-position: 50% 50%;
	height:100vh;
	margin-top:-4.5rem;
}
.hero-text{

	color:white;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.hero-text h1{
	font-size:3.625rem;
	font-weight:600;
	width:50%;
	text-align: center;
	line-height: 65px;
	margin-bottom: 0;
}
.hero-text h2{
	font-weight:400;
	margin:.5em 0em;
}
.hero-text h4{
	font-weight:400;
	margin:.6em 0em;
	font-size:1.1rem;
}
.sec-2-wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 5em 0em;
}

.left-sec-2 {width: 60%;}

.right-sec-2 {
    width: 40%;
}

.right-sec-2 img {
    max-width: 100%;
}

.left-sec-2 h3 {
    color: orange;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.left-sec-2 h1 {
    font-size: 2.7rem;
    width: 84%;
    padding: .5em 0em;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 0;
}

.left-sec-2 p {
    font-weight: 400;
    font-size: 1.1rem;
    width: 68%;
    line-height: 35px;
    color:black;
    margin-bottom: 0;
}

.left-sec-2 a {
    color: tomato;
    display: block;
    font-size: 1.2rem;
    padding-top: 1em;
    text-decoration: none;
    position:relative;
}
.left-sec-2 a::before{
	content:"";
	position:absolute;
	bottom:0;
	left: 0;
	width:13%;
	height:1px;
	background:tomato;
}
.sec-3-wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 5em 0em;
}
.sec-3{
	background:var(--gray-clr);
}
.sec-3 h1, .sec-3 p{
	color:white;
	margin-bottom: 0;
}
.sec-4-wrapper {
    display: flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content: space-between;
    padding: 5em 0em;
}
.left-sec-4 {
    width: 50%;
}
.left-sec-4 h1 {
    font-size: 2.7rem;
    width: 85%;
    padding: .5em 0em;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 0;
}
.left-sec-4 p{
	width:90%;
	margin-bottom: 0;
}
.left-sec-4 a::before{
	content:"";
	position:absolute;
	bottom:0;
	left: 0;
	width:16%;
	height:1px;
	background:tomato;
}
.sec-5{
	background:var(--gray-clr);
}
.sec-5 h1,.sec-5 p{
	color:white;
}
.sec-5 h1{
	width:100%;
	margin-bottom: 0;
}
.sec-5 p{
	width:85%;
	margin-bottom: 0;
}

.left-sec-5 a::before{
	content:"";
	position:absolute;
	bottom:0;
	left: 0;
	width:17.5%;
	height:1px;
	background:tomato;
}
.sec-6 h1{
	padding:0em;
	font-size:3rem;
	font-weight:600;
	text-align:center;
	margin:1.5em 0em .5em 0em;
}
.box-wrapper{
	display:grid;
	grid-gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(550px,1fr));
	margin-bottom:5em;
}
.box{
	background:#f7f7f7;
	padding:2em;
	border-radius:10px;
	transition:0.3s;
}
.box .image{
	background:transparent;
	width:80px;
	aspect-ratio: 1/1;
	border-radius:10px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.box h3{
	margin:.7em 0em;
}
.box p{
	font-weight:500;
	font-size:1.1rem;
	margin-bottom: 0;
}
.sec-6 img{
	margin-left: -35px;
	transition:0.4s;
}
.box:hover img {
    margin-left: 0px;
}
.box:hover .image{
	background:white;
} 
.box:hover{
	background:var(--gray-clr);
	color:white;
}
.accordion-button{
	background:black;
	color:white;
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: red!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius:10px;
    cursor: pointer;
}
.sec-7{
	background:#12222D;
	padding-bottom: 5em;
}
.sec-7-heading {
    color: white;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    padding: 1.5em 0em .5em 0em;
}
.sec-7-wrapper p {
    padding: 2em;
    background: black;
    color: white;
}
.ac-h1{
	font-size:1.3rem;
}
h1.accordion-button {
    margin-bottom: 0;
    border-radius: 10px;
}

.accordion {
    width: 75%;
    margin-inline: auto;
    margin-bottom:1em;
    /* cursor:pointer; */
}
.accordion-body {
    padding: 0em 0em;
}
footer{
	background: black;
	color:white;
	padding: 3em 0em  0em 0em;
}
.img-foot-logo {
    width: 110px;
}

.img-foot-logo img {
    max-width: 100%;
}

.f-s-1 {
    display: grid;
    grid-template-columns: 30% 30% 40%;
}

.grid-2 {
    display: flex;
    flex-direction: column;
}

.grid-2 a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-bottom: .2em;
}


.row1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2em;
}

.row1 img:first-child {
    max-width: 33%;
}

.row2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.row2 img:first-child {max-width: 40%;}

.row3 {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
p.des-foot {
    width: 65%;
    margin-bottom: 0;
    padding: 1.5em 0em;
}

.social-wrap {
}

p.cell-foot {margin-bottom: .2em;}

.row3 img {
    max-height: 3rem;
}

.row3 img:nth-child(2) {
	max-height: 15%;
	max-width: 65%;
	margin-top: -1.5rem;
	display: block;
}

.row2 img {
    z-index: 2;
}
.row1 img :last-child {
}
img.g-2-img-3 {
    width: 20%;
}

img.g-1-img-3 {
    width: 20%;
}
img.apple-tv-foot {
    width: 15%;
    height: 4em;
}
.f-s-2 p {
    font-size: .5rem;
    padding: 1.6em 2em 0em;
}
.f-s-3 img {
    position: relative;
    border-radius: 10px;
    max-width:100%;
}

.f-s-3::after {
    position: absolute;
    width: 100%;
    height: 2px;
    margin-top: 10px;
}
.f-s-4 {
    text-align: center;
    padding: 2.5em 0em 1.5em 0em;
}

.f-s-4 p {
    margin-bottom: 0;
    font-size: .9rem;
}

.f-s-4::before {
    background: #092b0f;
    height: 1px;
    width: 100%;
    position: absolute;
    content: "";
    left: 0;
    margin-top: -24px;
}
.f-s-3 {
    margin-bottom: 2em;
}
.s-icon{
	margin-right:1em;
	width:25px;
	aspect-ratio:1/1;
}
.s-icon:hover{
	cursor:pointer;
}
.social-wrap{
	margin-bottom:1.5em;
}
.cell-foot,.num-foot{
	font-size:.9rem;
	transition:0.3s;

}
.grid-2 a:hover{
	color:tomato;
}
.img-foot-logo:hover{
	cursor:pointer;
}
.num-foot:hover{
	color:#0000ff;
	cursor:pointer;
}
.protected{
	cursor:pointer;
}
.f-s-2 p{
	width:120px;
}
.f-s-2 p:hover{
	cursor:pointer;
	color:#0000ff;
}
.row1,.row2,.row3 img{
	cursor:pointer;
}
.social-fix-2 {
    width: 50px;
    background: #1874ff;
    aspect-ratio: 1/1;
    padding: 12px;
    border-radius: 100px;
    border: 1px solid #1760fb00;
    margin-top: 1em;
    cursor:pointer;
}
.social-fix{
	cursor:pointer;
}
.social-fix-2 img {
    max-width: 100%;
}

.social-fixed-wrap {
    position: fixed;
    top: 85%;
    left: 1%;
}

.top-arrow {
    width: 40px;
    aspect-ratio: 1/1.1;
    background: #ff006d;
    padding: 5px;
    border-radius: 10px;
    position: fixed;
    top: 90%;
    right: 2%;
}

.top-arrow img {
    max-width: 100%;
}


/*responsive design for tablet */
@media only screen and (max-width: 1200px){
	.accordion{width:85%}
	.sec-2,.sec-3,.sec-4,.sec-5{padding:2em;}
}
@media only screen and (max-width:800px){
	.hero-text h1{width:95%;}
	.hero-text h4{text-align:center;}
	.sec-2-wrapper{flex-direction:column;padding:0}
	.left-sec-2{width:90%}
	.right-sec-2 {width: 70%;padding: 2em 0em;}
	.sec-3-wrapper{flex-direction:column;padding:1em 0em 0em}
	.sec-4-wrapper{flex-direction:column;padding:0;}
	.f-s-1{grid-template-columns:1fr;padding:1em 2em;}
	.grid-1{text-align:center;}
	.grid-2{margin:1em 0em;}
	.grid-2 a{text-align:center;font-size:1.2rem;}
	.grid-3 h3{text-align:center;color:red;margin:1em 0em;}
	p.des-foot{width:100%;}
	.img-foot-logo{margin:auto;margin-bottom: 1em;}
	.row1,.row2,.row3{justify-content: space-evenly;}
	.row3 img:nth-child(2){max-width:30%;}
	.row3{width:100%;}
	.protected{display:block;margin:auto;}
	.f-s-2 p{width:100%;text-align:center;padding:.5em 0em 1em 0em;}
}
/*responsive design for tablet */
/*responsive design for mobile */
@media only screen and (max-width:550px){
	.box-wrapper{grid-template-columns:repeat(auto-fit,minmax(350px,1fr));margin-bottom:2em;}
	.header-wrapper{display: block;}
	.logo-area{margin:auto;}
	.button-wrapper{justify-content:space-between;}
	.butn:first-child{margin-left:0em;}
	.hero-text h1{font-size:2.5rem;line-height:50px;margin-bottom:.7em;}
	.hero-text h2{font-size:1.1rem;}
	.hero-text h4{font-size:.9rem;text-align:center;width:90%;margin-inline:auto;margin:1.5em 0em;}
	.sec-6 h1{font-size:2rem;}
	.sec-7-heading{font-size:2rem;margin-bottom:1em;}
	.accordion{width:95%}
	.grid-2{padding:2em 0em;text-align:center;}
	.grid-2 a{font-size:1.3rem;}
	.grid-3 h3{font-size:1.2rem;text-align:center;color:red;background:#333;padding:.2em 0em;border-radius:20px;margin-bottom:1em;}
	.butn{padding:.4em .5em;font-size:1em;}
	header{padding:0;height;height:6.5em;}
	.left-sec-2 h1{width:100%;font-size:2rem;padding:1em 0em;}
	.left-sec-4 h1{font-size:2rem;width:100%;padding:1em 0em;}
	.sec-5 h1{font-size:2rem;;width:100%;padding:1em 0em;}
	.hero-section{margin-top:-6.5em}
	.left-sec-2 p{width:100%;line-height:25px}
	.left-sec-2 a::before{width:110px;}
	.left-sec-5 a::before{width:142px!important;}
	.right-sec-2 {width: 90%;padding: 2em 0em;}
	.sec-2,.sec-3,.sec-4,.sec-5{padding:1em;}
}
/*responsive design for mobile */

/*scroll bar*/
::-webkit-scrollbar{
	width:10px;
}
::-webkit-scrollbar-track{
	background:black;
}
::-webkit-scrollbar-thumb{
	background:linear-gradient(red 30%,tomato);
	border-radius:10px;
	height:10%;
}
/*scroll bar*/